*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-size: 15pt;
    background: black;
    color: white;
}
.boxAnswer{
  border: 1px solid white;
  min-height: 100px;
  width: 100%;
  margin: 4px 0;
  position: relative;
}
.container{
  width: 100%;
  max-width: 380px;
  min-height: 100px;
  margin: 50% auto 0;
}

.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

.right{
  transition: all .3s ease-in;
}

.parent button{
  min-height: 50px;
  font-size: 1.3rem;
  background: black;
  color: white;
  border: 1px solid white;
}
#add,
#substract,
#divide,
#multiply,
#total,
#clear,
#percent,
#delete{
  font-size: 2rem;
  background-color: orange;
}


#answer{
  position: absolute;
  right: 5px;
  top: 20%;
  letter-spacing: .2em;
}
#problem{
  position: absolute;
  right: 5px;
  top: 2%;
  letter-spacing: .2em;
}
#totalAnswer{
  position: absolute;
  right: 5px;
  bottom: 15%;
  opacity: .7;
  letter-spacing: .2em;
}

@keyframes aniProblem{
  0%{
    top: 20%;
  }
  100%{
    top: 2%;
  }
}
@keyframes aniAnswer {
  0% {
    top: 35%;
  }

  100% {
    top: 20%;
  }
}
@keyframes color{
  100%{
    background: orange;
  }0%{
    background: transparent;
  }
}
